In [2]:
import pandas as pd

In [8]:
# ONE DIMENSIONAL SERIES
mobile= pd.Series(["iphone","samsaung","nokia"])
print(mobile)

0      iphone
1    samsaung
2       nokia
dtype: object

In [10]:
# ONE DIMENSIONALS SERIES
bag = pd.Series(["Book","Notebook","Paper","Pen"])
print(bag)

0        Book
1    Notebook
2       Paper
3         Pen
dtype: object

In [14]:
# TWO DIMENSIONAL DATA : DATA FRAME
dataframe = pd.DataFrame({"Electronic":mobile,"items":bag})
dataframe

  Electronic     items
0     iphone      Book
1   samsaung  Notebook
2      nokia     Paper
3        NaN       Pen